<h1>Edit Topic</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for Topics</p>
    <ul>
      <li>Haikus are easy</li>
      <li>But sometimes they don't make sense</li>
      <li>Refrigerator.</li>
    </ul>

  </div>
    <div class="col-md-8">
            <%= render partial: 'form', locals: {topic: @topic} %>
    </div>
  </div>
